
    <h1><b>Editing Employee</b></h1>
<p style="color: green"><%= notice %></p>

<%= render "form", employee: @employee %>

<br>

<div>
  <%= link_to "Show this employee", @employee %> 
  <br>
  <%= link_to "Back to employees", employees_path %>
</div>
