
    <h1><b>Editing User</b></h1>
<p style="color: green"><%= notice %></p>


<%= render "form", user: @user %>

<br>

<div>
  <%= link_to "Show this user", @user %> 
  <br>
  <%= link_to "Back to users", users_path %>
</div>
