
    <h1><b>Editing User</b></h1>
<p style="color: green"><%= notice %></p>
<%= render "form", division: @division %>

<br>

<div>
  <%= link_to "Show this division", @division %> 
  <br>
  <%= link_to "Back to divisions", divisions_path %>
</div>
